<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Nos Amis les Oiseaux !{% endblock %}</title>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i|Poppins:300,400,500,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('revolution/css/settings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('revolution/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('revolution/css/navigation.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/datepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/cookieBar.css') }}" />

    <!-- IE
    ================================================== -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}{% endblock %}

</head>
<body>
<div id="boxed-layout">
    <div id="topbar" class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="topbar-contact">
                        <li><i class="fa fa-phone-square"></i>01 72 87 18 12</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="social-icons pull-right">
                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                        <li class="topbar-searchbox">
                            <form class="input-group" action="{{ path('search') }}" method="get">
                                <input type="text" class="form-control" name="recherche" placeholder="Rechercher un oiseau">
                                <span class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <header id="header">
        <nav class="navbar yamm navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <button type="button" class="navbar-toggle-search" data-toggle="modal" data-target=".modal-recherche">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-search"></i>
                    </button>

                    <a class="navbar-brand" href="{{ path('accueil') }}" title="">
                        <img src="{{ asset('images/logo.png') }}" class="img-responsive" alt="Logo NAO" />
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('accueil') }}" title="">Accueil</a></li>

                        <li class="dropdown">
                            <a href="#" title="" class="dropdown-toggle js-activated" data-toggle="dropdown" data-submenu>
                                Observations <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('saisie_observation') }}">Saisir observations</a></li>
                                {% if is_granted('ROLE_NATURALISTE') %}
                                    <li class="li-naturaliste"><a href="{{ path('liste_validation') }}">Validations des saisies </a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" title="" class="dropdown-toggle js-activated" data-toggle="dropdown">
                                Recherche d'espèces <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('carte') }}" title="">Consulter la carte</a></li>
                                <li><a href="{{ path('species_list') }}" title="">Consulter les fiches</a></li>
                                <li><a href="{{ path('search')}}" title="">Recherche rapide</a> </li>
                                {% if is_granted('ROLE_NATURALISTE') %}
                                    <li class="li-naturaliste"><a href="#" title="" type="button" data-toggle="modal" data-target=".modal-telechargement">Exporter des données </a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li><a href="{{ path('contact') }}" title="">Contact</a></li>
                        <li><a href="{{ path('about') }}" title="">A propos</a></li>

                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" title="" class="dropdown-toggle js-activated" data-toggle="dropdown">
                                    {% if is_granted('ROLE_NATURALISTE') %}
                                        <i class="fa fa-leaf pr-5"></i>{{ app.user.username }} <em>(naturaliste)</em> <i class="fa fa-angle-down"></i>
                                    {% else %}
                                        <i class="fa fa-binoculars"></i>
                                        {{ app.user.username }} <i class="fa fa-angle-down pl-5"></i>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('carnet') }}" title="">Carnet de terrain</a></li>
                                    <li><a href="{{ url("logout") }}" title="">Déconnexion</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('login') }}" title="">Connexion/Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="clearfix"></div>

    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info text-center fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message }}
        </div>
    {% endfor %}


    {% block body %}{% endblock %}

    {#Modal exportation des données#}
    <div class="modal fade modal-telechargement" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-row-connexion">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Export des données</h4>
                    </div>

                    <div class="modal-body text-center">
                        <p>
                            Afin de pouvoir exploiter les données collectées grâce à l’application web, nous mettons à
                            votre disposition la liste des saisies d’observations au format CSV.
                        </p>
                        <a href="{{ path('download') }}" title="" id="export" type="button" class="btn btn btn-theme center-block pr-50 pl-50">Télécharger</a>
                        <p><em>(Format csv)</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#Modal recherche#}
    <div class="modal fade modal-recherche" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-row-connexion">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body text-center">
                        <h3>Rechercher</h3>
                        <form class="input-group" action="{{ path('search') }}" method="get">
                            <input type="text" class="form-control" name="recherche" placeholder="Rechercher un oiseau">
                            <span class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#Modal mot de passe oublié#}
    <div class="modal fade modal-mot-de-passe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-row-connexion">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Demande de mot de passe</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Ducimus eligendi explicabo laborum libero minima modi!</p>

                        <div class="form-group">
                            <label for="mail">Email *</label>
                            <input class="form-control" type="text" id="mail" name="email" required>
                        </div>

                        <button type="button" class="btn btn btn-theme">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <div class="footer-about">
                        <img src="{{ asset('images/logo.png') }}" alt="Logo NAO" />
                        <p>
                            NAO est une association européenne à but non lucratif regroupant des chercheurs ayant pour
                            but la préservation et l’observation des oiseaux dans le cercle international.
                        </p>

                        <div class="mb-20"></div>
                        <!-- end .mb-20 -->

                        <ul class="social-icons social-color">
                            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Skype"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>Liens utiles</h4>
                    <div class="titleline-footer"></div>

                    <ul class="footer-list">
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('about') }}" title="Accédez à la page à propos">Qui sommes-nous ?</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#" title="Accédez au site de l'OESPFF">Notre partenaire OESPFF</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('contact') }}" title="Accédez à la page de contact">Nous contacter</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('cgu') }}" title="Voir nos CGU">Conditions générales d'utilisation</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>Contact</h4>
                    <div class="titleline-footer"></div>

                    <ul class="footer-list">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Adresse:</span><br>
                            Association Nos Amis Les Oiseaux <br>
                            6 Rue des Becs <br>
                            75008 PARIS
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Téléphone:</span><br>
                            01 72 87 18 12
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>E-mail:</span><br>
                            <a href="mailto:#">contact@nao.fr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="ui-widget">
        <div class="cookie-message ui-widget-header color-banner">
            <p>
                En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de traceurs (cookies).
                Pour en savoir cliquez sur ce <a href="{{ path('privacy_policy') }}">lien</a></p>
        </div>
    </div>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">&copy; 2017 Nos amis les oiseaux. Tous droits réservés.</div>
                    <!-- end .copyright -->
                </div>

                <div class="col-md-4">
                    <ul class="copyright-link">
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="back-to-top">Back to Top</a>
</div>

<!-- Java Script
================================================== -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
    $('.select').select2({
        allowClear: true
    });
</script>
<script type="text/javascript" src="{{ asset('revolution/js/jquery.themepunch.tools.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>
<script src="{{ asset('js/datepicker.min.js') }}"></script>
<script src="{{ asset('js/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="{{ asset('js/jquery.cookieBar.js') }}"></script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOhEUVYNoNYSv8qedga3vSQuHOw443CIs"></script>
<script type="text/javascript" src="{{ asset('js/jquery.gmap.min.js') }}"></script>
<script type="text/javascript">

    //    COOKIES BANNER
    $(document).ready(function() {
        $('.cookie-message').cookieBar();
    });

    var lati = [];
    $('#latitude option').each(function() {
        lati.push($(this).val());
    });

    var longitude = [];
    $('#longitude option').each(function() {
        longitude.push($(this).val());
    });

    var description = [];
    $('#idobs option').each(function() {
        description.push($(this).val());
    });
    var namespecies = [];
    $('#namespecies option').each(function() {
        namespecies.push($(this).val());
    });
    var map = new google.maps.Map(document.getElementById('map'), {
        center: new google.maps.LatLng(lati[0], longitude[0]),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoom: 15
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var image = {
        // Adresse de l'icône personnalisée
        url: '{{ asset('images/markernao.png') }}',
        // Taille de l'icône personnalisée
        size: new google.maps.Size(24, 36),
        // Origine de l'image, souvent (0, 0)
        origin: new google.maps.Point(0,0),
        // L'ancre de l'image. Correspond au point de l'image que l'on raccroche à la carte. Par exemple, si votre îcone est un drapeau, cela correspond à son mâts
        anchor: new google.maps.Point(0, 20)
    };
    for (i = 0; i < lati.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(lati[i], longitude[i]),
            map: map,
            icon: image
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                var route = "{{ path('species_card', { 'id': "id" }) }}";
                var loca = route.replace("id", description[i]);
                if (namespecies[i] != null){
                    infowindow.setContent("<a href='"+ loca + "'>Voir la fiche de : " +  namespecies[i] +" </a>");

                }else{
                    infowindow.setContent("Lieu de l'observation");

                }
                infowindow.open(map, marker);
            }
        })(marker, i));
    }

    //    Scroll
    $(document).ready(function() {
        $('.-scrollTo').on('click', function() {
            var page = $(this).attr('href');
            var speed = 750;
            $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
            return false;
        });
    });
    $(document).ready(function() {
        var today = new Date();
        console.log(today);
        $('.datepicker').datepicker({
            language: 'fr',
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            endDate: today
        });
    });

</script>


<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('revolution/js/extensions/revolution.extension.video.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
