{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>A propos</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center m-t-b-30">
            <div class="col-md-6">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>Association Nos Amis les Oiseaux</h2>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-10 col-md-offset-1 mb-10 text-justify">
                            <p>
                                NAO est une association européenne à but non lucratif regroupant des chercheurs
                                ayant pour but <strong>la préservation et l’observation des oiseaux</strong>
                                dans le cercle international. <br>
                                Elle fût créée en 2016 sous la houlette de Michel Dujardin et est financée par l’Europe.
                            </p>

                            <p>
                                L’association Nos Amis Les Oiseaux ne possède pas d’adhérents mais est composée
                                <em>de 12 Membres du bureau et de 3 naturalistes.</em> <br>
                                L’organisation européenne pour la sauvegarde et la préservation de la faune et
                                de la flore est également impliquée dans le projet associatif.
                            </p>

                            <div class="col-md-6 col-md-offset-1">
                                <button class="col-md-12 btn btn-theme btn-align size-one-third text-center">Visitez notre blog
                                    <span class="glyphicon glyphicon-plus-sign ml-0" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="{{ asset('images/features/winter_bird.jpeg') }}" class="img-responsive img-apropos shadow-inset-image" alt="Association NAO"/>
            </div>
        </div>
    </div>

    <div class="container wrapper-apropos pt-50 pb-50 shadow-inset">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="iconbox2 border-2">
                    <div class="iconbox2-icon animated delay5 bounceIn" data-animation="bounceIn" style="opacity: 1;">
                        <i class="fa fa-binoculars effect-3"></i>
                    </div>

                    <div class="iconbox2-content">
                        <h3>L'observation</h3>
                        <p class="text-justify">
                            Afin de mieux comprendre <strong>l’évolution de la biodiversité ornithologique</strong>,
                            nous nous inscrivons dans une démarche de recherche active basée sur
                            <strong>l’observation terrain</strong> tout au long de l’année.
                        </p>
                        <p class="text-justify">
                            En collectant des données ciblées géographiquement,et en les comparant avec celles
                            déjà relevées, nous pourrons alors améliorer notre savoir et mieux orienter nos actions de
                            <strong>préservation de la faune.</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="iconbox2 border-2">
                    <div class="iconbox2-icon animated delay5 bounceIn" data-animation="bounceIn" style="opacity: 1;">
                        <i class="fa fa-leaf effect-3"></i>
                    </div>

                    <div class="iconbox2-content">
                        <h3>La préservation</h3>

                        <p class="text-justify">
                            Conscients des changements climatiques et environnementaux majeurs de ces dernières décennies,
                            NAO ne pouvait rester insensible et a décidé d’agir pour la faune :
                        </p>

                        <ul>
                            <li>
                                Sensibilisation des propriétaires terriens au
                                <strong>respect des normes environnementales</strong>
                            </li>
                            <li>
                                Organisation et animation de forums et conférences autour de
                                <strong>l'Environnement et la Biodiversité</strong>
                            </li>
                            <li>Mission de collaboration avec d’autres organismes tels que la LPO et les collectivités territoriales</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-graybg">
        <div class="container full-width">
            <div class="row text-center">
                <div class="col-md-12 mb-30"><h2>Le projet NAO</h2></div>
                <div class="col-md-5 col-md-offset-1 hr-nao">
                    <h3 class="mb-20">Pour les particulier</h3>

                    <p class="text-justify pr-20">
                        Amis des oiseaux, il est temps pour vous d’agir et de prendre part à notre
                        <strong>programme de recherche collaboratif !</strong><br>
                        Pour ce faire, nous vous proposons de devenir des observateurs et d’enrichir nos données
                        collectées pour mieux comprendre la <strong>biodiversité</strong> et agir pour la
                        <strong>préservation des espèces.</strong>
                    </p>
                </div>

                <div class="col-md-5">
                    <h3 class="mb-20">Pour les naturalistes</h3>

                    <p class="text-justify pr-20">
                        Professionnels et amateurs éclairés, nous avons besoin de vous pour
                        <strong>saisir des observations d’oiseaux sur le terrain</strong> tout au long de l’année.<br>
                        Plus encore, nous vous proposons de devenir de véritables
                        <strong>experts validateurs</strong> des saisies effectuées par les particuliers.
                        Vous deviendrez ainsi les garants de la <strong>qualité de toutes les observations effectuées.</strong><br>
                        Nous vous remercions, par avance, de votre investissement pour NAO !
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container wrapper-classic full-width shadow-inset">
        <div class="row text-center pt-50">
            <div class="col-md-4 col-md-offset-1">
                <img src="{{ asset('images/features/logo_partner.png') }}" class="img-responsive img-apropos" alt=""/>
            </div>
            <div class="col-md-6">
                <h2>Notre partenaire</h2>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
            </div>
        </div>
    </div>

{% endblock %}