{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Mon carnet de terrain</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-50"></div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2>Bienvenue dans votre espace personnel</h2>
                <p>C’est ici que vous pourrez retrouver :</p>

                <ul class="text-left">
                    <li>Les informations associées à votre compte</li>
                    <li>L'historique de vos saisies d'observations validées</li>
                    <li>L'historique de vos saisies d'observations en attente de validation si vous êtes un NAObservateur particulier</li>
                </ul>

                <p>
                    <em>Pour rappel, les saisies effectuées par un NAObservateur naturaliste sont automatiquement validées</em><br>
                    Merci de participer à notre programme de recherche collaboratif !
                </p>
            </div>
        </div>

        <div class="row text-center pt-20">
            <div class="col-md-8 col-md-offset-2">
                <button type="text" id="profil" class="btn btn-tab btn-theme" disabled="disabled">Profil</button>
                <button type="text" id="saisie" class="btn btn-tab btn-theme">Saisies</button>
                {% if is_granted('ROLE_PARTICULIER') %}
                    <button type="text" id="attente" class="btn btn-tab btn-theme">En attente</button>
                {% endif %}
            </div>
        </div>

        <div class="mb-30"></div>

        <div id="content">
            <div class="row" id="profilAuteur">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel-body panel-profil">
                        {% if is_granted('ROLE_PARTICULIER') %}
                            <p><i class="fa fa-user fa-3x pr-10"></i> Vous êtes un observateur particulier</p>
                            <p><i class="fa fa-envelope fa-2x pr-20"></i>{{ carnet.profil.email }}</p>
                            <p>
                                <i class="fa fa-lock fa-3x pr-20"></i>
                                Validation des saisies et Export des données <br>
                                <em class="ml-50">(réservés aux naturalistes)</em>
                            </p>
                        {% else %}
                            <p><i class="fa fa-user fa-3x pr-10"></i> {{ carnet.profil.lastname }} {{ carnet.profil.firstname }}</p>
                            <p><i class="fa fa-envelope fa-2x pr-20"></i>{{ carnet.profil.email }}</p>
                            <p>
                                <i class="fa fa-unlock-alt fa-3x"></i>
                                <strong>
                                    <a href="{{ path('liste_validation') }}" class="pl-20">Validation des saisie</a>
                                    <a href="#" title="" type="button" data-toggle="modal" data-target=".modal-telechargement" class="pl-20">Export des données</a>
                                </strong>
                            </p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-3 right-text">
                    <h4>  Ami des oiseaux <i class="fa fa-binoculars"></i></h4>
                </div>
            </div>

            <div class="mb-20"></div>

            <div class="row" id="paraAuteur">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel-body panel-para">
                        <h3 class="title-para">Paramètres</h3>

                        <div class="col-md-6">

                            {{ form_start(newPassword) }}
                            <div class="form-group">
                                {{ form_label(newPassword.plainPassword.first) }}
                                {{ form_widget(newPassword.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                {% if not newPassword.plainPassword.first.vars.valid %}
                                    {% for error in newPassword.plainPassword.first.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_label(newPassword.plainPassword.second) }}
                                {{ form_widget(newPassword.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                {% if not newPassword.plainPassword.second.vars.valid %}
                                    {% for error in newPassword.plainPassword.second.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(newPassword.oldPassword) }}
                                {{ form_widget(newPassword.oldPassword, { 'attr': {'class': 'form-control'} }) }}
                                {% if not newPassword.oldPassword.vars.valid %}
                                    {% for error in newPassword.oldPassword.vars.errors %}
                                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="margiv-top-10">
                                <button type="submit" class="btn green"> Modifier le mot de passe </button>
                            </div>

                            {{ form_end(newPassword) }}

                        </div>

                        <div class="col-md-6">
                            <div class="chartbox">
                                <div class="chartbox-icon chart-theme">
                                    <a href="{{ path('delete', {'id': app.user.id}) }}" onclick="if(window.confirm('Attention ! Si vous supprimez votre compte, les observations seront perdues. Voulez-vous vraiment supprimer votre compte?')){return true;}else{return false;}"><i class="fa fa-times"></i></a>
                                </div>
                                <p>Supprimer le compte</p>
                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <div class="mb-20"></div>

            <div class="row" id="saisieAuteur">
                <div class="row">
                    {% for obs in carnet.saisieValide %}
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="birds">
                                <figure class="effect-phoebe">
                                    {% if obs.image != null %}
                                        <img src="{{ asset( '/images/observations/' ) }}{{ obs.image.alt }}" alt=""/>
                                    {% else %}
                                        <img src="{{ asset( '/images/observations/default.png' ) }}" alt=""/>

                                    {% endif %}
                                    <figcaption>
                                        <p>
                                            {% if obs.image != null %}
                                                <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ obs.image.alt }}" title="Zoom image"><i class="fa fa-search effect-3"></i></a>
                                            {% else %}
                                                <a class="nivo-lightbox" href="{{ asset( '/images/observations/default.png' ) }}" title="Zoom image"><i class="fa fa-search effect-3"></i></a>
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                                <div class="clearfix"></div>
                                <div class="birds-content">
                                    <h4 data-toggle="tooltip" data-placement="top" title="">
                                        {{ obs.species.nomVern }}<br>
                                        <small>
                                            Famille : {{ obs.species.famille }} <br>
                                            Observé le {{ obs.date|date('d/m/y') }}
                                        </small>
                                    </h4>
                                    <p>Nom Valide :<br>{{ obs.species.nomValide }}</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-md-offset-3 text-center">
                            Vous n'avez encore aucune observation :( <br>
                            <a class="btn btn-primary" href="{{ path('saisie_observation') }}">Saisir une observation !</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if is_granted('ROLE_PARTICULIER') %}
                <div class="row" id="saisieAuteurAttente">
                    <div class="row">
                        {% for obs in carnet.saisieAttente %}
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="birds">
                                    <figure class="effect-phoebe">
                                        {% if obs.image != null %}
                                            <img src="{{ asset( '/images/observations/' ) }}{{ obs.image.alt }}" alt=""/>
                                        {% else %}
                                            <img src="{{ asset( '/images/observations/default.png' ) }}" alt=""/>
                                        {% endif %}
                                        <figcaption>
                                            <p>
                                                {% if obs.image != null %}
                                                <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ obs.image.alt }}" title="Zoom image"><i class="fa fa-search effect-3"></i></a>
                                                {% else %}
                                                    <a class="nivo-lightbox" href="{{ asset( '/images/observations/default.png' ) }}" title="Zoom image"><i class="fa fa-search effect-3"></i></a>

                                                {% endif %}

                                            </p>
                                        </figcaption>
                                    </figure>
                                    <div class="clearfix"></div>
                                    <div class="birds-content">
                                        <h4 data-toggle="tooltip" data-placement="top" title="">
                                            {{ obs.species.nomVern }}<br>
                                            <small>
                                                Famille : {{ obs.species.famille }} <br>
                                                Observé le {{ obs.date|date('d/m/y') }}
                                            </small>
                                        </h4>
                                        <p>Nom Valide :<br>{{ obs.species.nomValide }}</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-6 col-md-offset-3 text-center">
                                Aucune saisie en attente de validation
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}

        </div>
    </div>

    <div class="mb-50"></div>

{% endblock %}

{% block javascripts %}
    <script>
        /* ----------------------------------------------------------------------
         Carnet de terrain
         ---------------------------------------------------------------------- */
        $('#profil').on('click', function () {
            $('#saisieAuteur').hide();
            $('#saisieAuteurAttente').hide();
            $('#profilAuteur').show();
            $('#paraAuteur').show();

            $('#profil').attr('disabled','disabled');
            $('#saisie').removeAttr('disabled');
            $('#attente').removeAttr('disabled');
        });

        $('#saisie').on('click', function () {
            $('#profilAuteur').hide();
            $('#paraAuteur').hide();
            $('#saisieAuteurAttente').hide();
            $('#saisieAuteur').show();
            $('#saisie').attr('disabled','disabled');
            $('#profil').removeAttr('disabled');
        });

        $('#attente').on('click', function () {
            $('#saisieAuteurAttente').show();
            $('#profilAuteur').hide();
            $('#paraAuteur').hide();
            $('#saisieAuteur').hide();
            $('#saisieAuteurAttente').attr('disabled','disabled');
            $('#profil').removeAttr('disabled');
            $('#saisie').removeAttr('disabled');
        });
    </script>
{% endblock %}