{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Consulter la carte</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if afficheGps == 0 %}
        <div class="mb-20"></div>

        <div class="col-md-6 col-md-offset-3 text-center ">
            <a href="{{ path('saisie_observation') }}" class="btn btn-theme">Soyez le premier à saisir ou afficher une observation !</a>
        </div>
    {% else %}
        <div class="container">
            <div class="map" id="map"> </div>
        </div>
    {% endif %}

    <div class="mb-20 clearfix"></div>

    <div class="wrapper-graybg">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Les dernières saisies d'observations</h3>
                    <div class="titleline"></div>

                    <div class="mb-20"></div>

                    <div class="owl-image owl-carousel owl-theme">

                        {% for c in lastObs %}
                            <div class="item">
                                {% if c.image != null %}
                                <figure class="effect-phoebe"> <img src="{{ asset( '/images/observations/' ) }}{{ c.image.alt }}" alt="{{ c.image.alt }}" alt=""/>
                                    {% else %}
                                    <figure class="effect-phoebe"> <img src="{{ asset( '/images/observations/default.png' ) }}" alt=""/>
                                        {% endif %}
                                    <figcaption>
                                        {% if c.image != null %}
                                            <p><a href="{{ path('species_card', {'id': c.species.id}) }}"><i class="fa fa-link effect-3"></i></a>   <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ c.image.alt }}" alt="{{ c.image.alt }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                        {% else %}
                                            <p><a href="{{ path('species_card', {'id': c.species.id}) }}"><i class="fa fa-link effect-3"></i></a>   <a class="nivo-lightbox" href="{{ asset( '/images/observations/default.png' ) }}" alt="" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                        {% endif %}
                                    </figcaption>
                                </figure>
                                <div class="clearfix"></div>
                                <div class="photo-title2">
                                    <h5>{{ c.species.nomvern }}</h5>
                                    <p>{{ c.date|date('d/m/Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <select name="latitude" id="latitude" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.latitude }}">{{ c.latitude }}</option>
        {% endfor %}
    </select>

    <select name="longitude" id="longitude" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.longitude }}">{{ c.longitude }}</option>
        {% endfor %}
    </select>

    <select name="idobs" id="idobs" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.species.id }}">{{ c.species.id }}</option>
        {% endfor %}
    </select>

    <select name="namespecies" id="namespecies" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.species.nomVern }}">{{ c.species.nomVern }}</option>
        {% endfor %}
    </select>

{% endblock %}