{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Conditions générales d'utilisation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-graybg">
        <div class="container">
            <div class="row text-justify mb-10">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center pb-50">Utilisation du site www.nao.little-owl.fr</h2>

                    <h3 class="text-center pb-20">ARTICLE 1 : Objet</h3>
                    <p>
                        Les présentes <em>« conditions générales d'utilisation »</em> ont pour objet l'encadrement
                        juridique des modalités de mise à disposition des services du site www.nao.little-owl.fr et leur
                        utilisation par <em>« l'Utilisateur »</em>.
                    </p>
                    <p>
                        Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant
                        accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site
                        par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.
                    </p>
                    <p>Eventuellement :</p>
                    <ul>
                        <li>
                            En cas de non-acceptation des conditions générales d'utilisation stipulées dans le
                            présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par
                            le site.
                        </li>
                        <li>
                            Les administrateurs du site se réserve le droit de modifier unilatéralement et à tout
                            moment le contenu des présentes conditions générales d'utilisation.
                        </li>
                    </ul>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 2 : Mentions légales</h3>
                    <p>
                        L'édition du site www.nao.little-owl.fr est assurée par
                        <strong>l’Association Nos Amis les Oiseaux</strong> dont le siège social est situé au
                        <em>6 rue des Becs, 75008, PARIS</em> immatriculée au Répertoire National des Associations,
                        <em>Association W269743568</em>.
                    </p>
                    <p>Le Directeur de la publication est <strong>Monsieur Michel Dujardin</strong>.</p>
                    <p>
                        L'hébergeur du site www.nao.little-owl.fr est la société
                        <strong>1 ET 1 INTERNET SARL</strong> au capital social de 100 000€
                        dont le siège social est situé au <em>7 Place de la gare, 57200, SARREGUEMINES</em>.S
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 3 : Définitions</h3>
                    <p>La présente clause a pour objet de définir les différents termes essentiels du contrat :</p>
                    <ul>
                        <li>
                            <em>Utilisateur</em> :
                            ce terme désigne toute personne qui utilise le site ou l'un des services proposés
                            par le site.
                        </li>
                        <li>
                            <em>Contenu utilisateur</em> :
                            ce sont les données transmises par l'Utilisateur au sein du site.
                        </li>
                        <li>
                            <em>Membre</em> :
                            l'Utilisateur devient membre lorsqu'il est identifié sur le site.
                        </li>
                        <li>
                            <em>Identifiant et mot de passe</em> :
                            c'est l'ensemble des informations nécessaires à l'identification d'un Utilisateur sur
                            le site. L'identifiant et le mot de passe permettent à l'Utilisateur d'accéder à des
                            services réservés aux membres du site. Le mot de passe est confidentiel.
                        </li>
                    </ul>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 4 : Accès au service</h3>
                    <p>Le site permet à l'Utilisateur un accès gratuit aux services suivants :</p>
                    <ul>
                        <li>Fiches espèce</li>
                        <li>Carte intéractive</li>
                        <li>Saisies d’observations (après inscription et connexion)</li>
                        <li>Validation d'observations (accès naturalistes uniquement)</li>
                        <li>Compte personnel (après inscription et connexion)</li>
                        <li>Publications de commentaires (accès naturalistes uniquement)</li>
                        <li>Publications de photographies</li>
                        <li>Exportation des données d'observations (accès naturalistes uniquement)</li>
                    </ul>
                    <p>
                        Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet.
                        Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique,
                        logiciels, connexion Internet, etc.) sont à sa charge.
                    </p>
                    <p>
                        Selon le cas,l’Utilisateur non membre n'a pas accès aux services réservés aux membres.
                        Pour cela, il doit
                        <em>s'identifier à l'aide de son identifiant et de son mot de passe.</em>
                    </p>
                    <p>
                        Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité
                        à ses services. L'obligation étant de moyens, le site ne s'engage pas à atteindre ce résultat.
                    </p>
                    <p>
                        Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du
                        réseau ou du serveur n'engage pas la responsabilité de www.nao.little-owl.fr.
                    </p>
                    <p>
                        L'accès aux services du site peut à tout moment faire l'objet d'une interruption,
                        d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas.
                        L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption,
                        à la suspension ou à la modification du présent contrat.
                    </p>
                    <p>
                        L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse
                        <strong>contact@nao.fr</strong>.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 5 : Propriété intellectuelle</h3>
                    <p>
                        Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le
                        Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
                    </p>
                    <p>
                        L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction,
                        publication, copie des différents contenus.
                    </p>
                    <p>
                        L'Utilisateur s'engage à une utilisation des contenus du site dans un cadre strictement privé.
                        Une utilisation des contenus à des fins commerciales est strictement interdite.
                    </p>
                    <p>
                        Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité.
                        L'Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux
                        intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre
                        le site sera pris en charge par l'Utilisateur.
                    </p>
                    <p>
                        Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé
                        ou modifié par le site. L'Utilisateur ne reçoit aucune justification et notification
                        préalablement à la suppression ou à la modification du contenu Utilisateur.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 6 : Données personnelles</h3>
                    <p>
                        Les informations demandées à l’inscription au site sont nécessaires et obligatoires
                        pour la création du compte de l'Utilisateur. En particulier, l'adresse électronique pourra être
                        utilisée par le site pour l'administration, la gestion et l'animation du service.
                    </p>
                    <p>
                        Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles
                        dans le respect de la vie privée conformément à
                        <em>la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</em>
                        Le site est déclaré à la CNIL sous le numéro <em>1958691</em>.
                    </p>
                    <p>
                        En vertu des <em>articles 39 et 40 de la loi en date du 6 janvier 1978</em>,
                        l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition
                        de ses données personnelles. L'Utilisateur exerce ce droit via :
                    </p>
                    <ul>
                        <li>Son espace personnel</li>
                        <li>Un formulaire de contact</li>
                        <li>Par mail à <strong>contact@nao.fr</strong></li>
                        <li>
                            Par voie postale à l’adresse suivante :
                            <em>6 rue des Becs, 75008 PARIS, France.</em>
                        </li>
                    </ul>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 7 : Responsabilités et force majeure</h3>
                    <p>
                        Les sources des informations diffusées sur le site sont réputées fiables.
                        Toutefois, le site se réserve la faculté d'une non-garantie de la fiabilité des sources.
                        Les informations données sur le site le sont à titre purement informatif.
                        Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations
                        et du contenu du présent site.
                    </p>
                    <p>
                        L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe,
                        quelle que soit sa forme, est interdite.
                    </p>
                    <p>
                        L'Utilisateur assume les risques liés à l'utilisation de son identifiant et mot de passe.
                        Le site décline toute responsabilité.
                    </p>
                    <p>
                        Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence
                        des dommages doit faire l'objet d'une indemnisation au profit du site.
                    </p>
                    <p>
                        Une garantie optimale de la sécurité et de la confidentialité des données transmises n'est pas
                        assurée par le site. Toutefois, le site s'engage à mettre en œuvre tous les moyens nécessaires
                        afin de garantir au mieux la sécurité et la confidentialité des données.
                    </p>
                    <p>
                        La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible
                        et insurmontable d'un tiers.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 8 : Liens hypertextes</h3>
                    <p>
                        De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web
                        où mènent ces liens n'engagent en rien la responsabilité des administrateurs du site qui
                        n'ont pas le contrôle de ces liens.
                    </p>
                    <p>
                        L'Utilisateur s'interdit donc à engager la responsabilité du site concernant le contenu et les
                        ressources relatives à ces liens hypertextes sortants.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 9 : Évolution du contrat</h3>
                    <p>
                        Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 10 : Durée</h3>
                    <p>
                        La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de
                        l'Utilisateur à compter de l'utilisation du service.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 11 : Droit applicable et jurisprudence</h3>
                    <p>
                        La législation française s'applique au présent contrat. En cas d'absence de résolution amiable
                        d'un litige né entre les parties, seuls les tribunaux du ressort de la
                        <em>Cour d’appel d’Amiens, 14 Rue Robert de Luzarches, 80000 Amiens</em> sont compétents.
                    </p>

                    <h3 class="text-center pt-50 pb-20">ARTICLE 12 : Publications par l'Utilisateur</h3>
                    <p>Le site permet aux membres de publier des photographies.</p>
                    <p>
                        Dans ses publications, le membre s’engage à respecter les règles de la Netiquette et
                        les règles de droit en vigueur.
                    </p>
                    <p>
                        Le site exerce une modération a posteriori sur les publications et se réserve le droit de
                        refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
                    </p>
                    <p>
                        Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle.
                        Mais en publiant une publication sur le site, il cède à la société éditrice le droit non
                        exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer
                        sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support
                        (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment
                        le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.
                    </p>
                    <p>
                        La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}