{% extends 'base.html.twig' %}

{% block body %}

    <div class="container wrapper-lightgray full-width shadow-inset">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 pt-20 pb-20">
                {% if fiche.fiche.image != null %}

                    <figure class="effect-phoebe shadow-inset-image"> <img src="{{ asset( '/images/observations/' ) }}{{ fiche.fiche.image }}" alt="{{ fiche.fiche.image }}">
                        <figcaption>
                            <p> <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ fiche.fiche.image }}" title="Nom de l'espèce"><i class="fa fa-search effect-3"></i></a> </p>
                        </figcaption>
                    </figure>
                {% else %}

                    <figure class="effect-phoebe shadow-inset-image"> <img src="{{ asset('images/observations/default.png') }}" alt="Default">
                        <figcaption>
                            <p> <a class="nivo-lightbox" href="{{ asset('images/observations/default.png') }}" title="Nom de l'espèce"><i class="fa fa-search effect-3"></i></a> </p>
                        </figcaption>
                    </figure>

                {% endif %}

            </div>

            <div class="col-md-6 pt-30">
                <h3>{{ fiche.fiche.nomVern }}</h3>
                <div class="titleline"></div>

                <div class="clearfix"></div>
                <div class="divider-singledotted"></div>
                <div class="mb-40"></div>


                <p>Autres informations</p>
                <ul class="ul-fiche-espece">
                    <li>Famille : {{ fiche.fiche.famille }}</li>
                    <li>Ordre : {{ fiche.fiche.ordre }}</li>
                    <li>Nom complet : {{ fiche.fiche.nomVern }}</li>
                    <li>Auteur : {{ fiche.fiche.lbAuteur }}</li>
                </ul>

                <div class="divider-singledotted"></div>
                <div class="mb-60"></div>
            </div>
        </div>
    </div>

    <div class="wrapper-apropos pt-20 pb-20">
        <div class="container">
            <div class="row">
                <h4 class="text-center fiche-color"><i class="fa fa-eye fa-3x pr-10" aria-hidden="true"></i> J'ai été observé {{ fiche.count }} fois</h4>
            </div>
        </div>
    </div>

    <div class="mb-40"></div>

    <div class="container">
        <div class="row">
            <h3>Lieu fréquent d'observations</h3>

            {% if fiche.count == 0 %}
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-6 col-md-offset-3 text-center ">
                        <a href="{{ path('saisie_observation') }}" class="btn btn-theme ">Saisir une observation</a>
                    </div>
                </div>
            {% else %}
                <div class="map" id="map"> </div>
            {% endif %}

        </div>
    </div>

    <div class="mb-40"></div>

    <div class="container full-width shadow-inset">
        <div class="row m-t-b-60">
            <div class="col-md-10 col-md-offset-1">
                <h3>Dernières saisies sur cette espèce</h3>
                <div class="titleline"></div>

                <div class="mb-20"></div>

                <div class="owl-image owl-carousel owl-theme">


                    {% for last in fiche.obs %}
                        <div class="item">
                            {% if last.image != null %}
                            <figure class="effect-phoebe"><img src="{{ asset( '/images/observations/' ) }}{{ last.image.alt }}" alt="{{ last.image.alt }}">
                                {% else %}
                                <figure class="effect-phoebe"><img src="{{ asset( '/images/observations/default.png' ) }}" alt="default">
                                    {% endif %}
                                <figcaption>

                                    <p>
                                        {% if last.image != null %}
                                            <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ last.image.alt }}" title="Vu(e) le ..."><i class="fa fa-search effect-3"></i></a>
                                        {% else %}
                                            <a class="nivo-lightbox" href="{{ asset( '/images/observations/default.png' ) }}" title="Vu(e) le ..."><i class="fa fa-search effect-3"></i></a>
                                        {% endif %}
                                    </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-md-offset-3 text-center">
                            C'est vide !
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

    {% for c in fiche.obs %}

        <select name="latitude" id="latitude" hidden>
            <option value="{{ c.latitude }}"></option>
        </select>

        <select name="longitude" id="longitude" hidden>
            <option value="{{ c.longitude }}"></option>
        </select>

    {% endfor %}

{% endblock %}

