{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="mb-60"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contactform">
                    <h3>Formulaire de contact</h3>
                    <div class="titleline"></div>

                        <fieldset>
                            {{ form_start(contact) }}

                            {{ form_label(contact.nom, 'Nom *')  }}
                            {{ form_widget(contact.nom, { 'attr': {'class': 'form-control'} })  }}

                            {{ form_label(contact.email, 'Email *')  }}
                            {{ form_widget(contact.email, { 'attr': {'class': 'form-control'} })  }}

                            {{ form_label(contact.telephone, 'Telephone')  }}
                            {{ form_widget(contact.telephone, { 'attr': {'class': 'form-control'} })  }}

                            {{ form_label(contact.sujet, 'Sujet *')  }}
                            {{ form_widget(contact.sujet, { 'attr': {'class': 'form-control'} })  }}

                            {{ form_label(contact.message, 'Message *')  }}
                            {{ form_widget(contact.message, { 'attr': {'class': 'form-control'} })  }}

                            <input class="submit btn btn-theme" name="submit" type="submit" value="Envoyer">
                            {{ form_end(contact) }}
                        </fieldset>

                </div>

            </div>

            <div class="col-md-4 col-md-offset-2">
                <div class="sidebar">
                    <h3>Information de contact</h3>
                    <div class="titleline"></div>


                    <ul class="sidebar-info">
                        <li><i class="fa fa-map-marker"></i><span>Adresse:</span><br>
                            6 Rue des Becs, 75008 PARIS</li>
                        <li><i class="fa fa-phone"></i><span>Téléhpone:</span><br>
                            01 72 87 18 12</li>
                        <li><i class="fa fa-envelope"></i><span>E-mail:</span><br>
                            <a href="mailto:#">contact@nao.fr</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="social-icons social-color">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


            </div>


        </div>

    </div>
{% endblock %}