{% extends 'base.html.twig' %}

{% block body %}

    <div class="parallax-white ">
        <div class="parallax-overlay-black text-white viewport">
            <div class="container">
                <div class="row text-center">
                    <h1 class="m-t-b-60">NAO, le carnet en ligne tout terrain</h1>
                    <div class="col-md-6 col-md-offset-3 text-index">
                        <p>
                            Chez vous ou en randonnée, saisissez vos observations d'oiseaux
                            et prenez part à un programme de recherche collaboratif
                        </p>

                        <div class="mb-30"></div>

                        <a href="#decouvrir" title="" class="btn btn-lg btn-theme mr-30 pr-40 pl-50">Découvrir</a>
                        <a href="#participer" title="" class="btn btn-lg btn-trans pr-40 pl-50">Participer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-index call-to-action" id="decouvrir">
        <div class="row text-center">
            <div class="col-md-12">
                <h3>C'est NAO</h3>
                <div class="text-justify m-t-b-30">
                    <p>
                        NAO est un Web Application, proposée par l’association <em>Nos Amis les Oiseaux</em>,
                        qui a pour but de permettre à des particuliers et naturalistes de
                        <strong>saisir des observations d’oiseaux</strong> depuis chez eux ou directement sur le terrain
                        dans le cadre d’un programme de recherche collaboratif et participatif.
                    </p>
                    <p>
                        NAO vous permettra de <strong>découvrir les oiseaux et leur écosystème</strong>,
                        de <strong>participer à un programme de recherche collaboratif</strong> et d’échanger avec
                        d’autres passionnés. Vous deviendrez un acteur de l’enrichissement des données naturalistes
                        et d’une meilleure compréhension de la biodiversité et des enjeux environnementaux.
                    </p>
                    <p class="text-center">
                        Si vous êtes convaincu,
                        <a href="{{ path('saisie_observation') }}" title="Accédez à la page des saisies">
                            saisissez votre première observation !
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="chartbox">
                    <div class="chartbox-icon chart-theme">
                        <a href="#" title=""><i class="fa fa-globe"></i></a>
                    </div>
                    <p>
                        <span class="chart" data-percent="{{ countInfo.countObs }}">
                            <span class="percent">{{ countInfo.countObs }}</span>
                            <canvas height="110" width="110"></canvas>
                        </span>
                    </p>
                    <p>Saisies d'observations</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="chartbox">
                    <div class="chartbox-icon chart-theme">
                        <a href="#" title=""><i class="fa fa-check"></i></a>
                    </div>
                    <p>
                        <span class="chart" data-percent="{{ countInfo.countValide }}">
                            <span class="percent">{{ countInfo.countValide }}</span>
                            <canvas height="110" width="110"></canvas>
                        </span>
                    </p>
                    <p>Saisies validées</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="chartbox">
                    <div class="chartbox-icon chart-theme">
                        <a href="#" title=""><i class="fa fa-users"></i></a>
                    </div>
                    <p>
                        <span class="chart" data-percent="{{ countInfo.countUser }}">
                            <span class="percent">{{ countInfo.countUser }}</span>
                            <canvas height="110" width="110"></canvas>
                        </span>
                    </p>
                    <p>NAObservateurs</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-30 clearfix"></div>

    <div class="wrapper-graybg shadow-inset">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Les oiseaux du jour</h3>
                    <div class="titleline"></div>

                    <div class="mb-20"></div>
                    {% if imageJour.imageJourCount != 0 %}
                        <div class="owl-image owl-carousel owl-theme">
                            {% for ij in imageJour.imageJourListe %}
                                <div class="item">
                                    <figure class="effect-phoebe">

                                        <img src="{{ asset( '/images/observations/' ) }}{{ ij.image.alt }}" alt="Image par défaut"/>
                                        <figcaption>
                                            <p>
                                                <a href="{{ path('species_card', {'id': ij.species.id}) }}" title="Fiche espèce">
                                                    <i class="fa fa-link effect-3"></i>
                                                </a>
                                                <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ ij.image.alt }}" title="Zoom {{ ij.species.nomVern }}">
                                                    <i class="fa fa-search effect-3"></i>
                                                </a>
                                            </p>
                                        </figcaption>
                                    </figure>

                                    <div class="clearfix"></div>

                                    <div class="photo-title2">
                                        <h5>{{ ij.species.nomVern }}</h5>
                                        <p>Observé(e) le {{ ij.date|date('d/m/y') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-6 col-md-offset-3 text-center mb-50">
                            Aucune observation à la une ! Soyez le premier à vous mettre en avant !
                        </div>

                        <div class="col-md-6 col-md-offset-3 text-center ">
                            <a href="{{ path('saisie_observation') }}" class="btn btn-theme " title="Accédez à la page des saisies">
                                Saisir une observation
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-gray-nao">
        <div class="container pt-10 pb-10">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        Vous souhaitez, vous aussi, voir votre observation du jour en page d’accueil ? <br>
                        Il est temps de nous rejoindre et de vous inscrire !
                        <em>l’inscription est OBLIGATOIRE avant de pouvoir effectuer une saisie</em>
                    </p>
                </div>

                <div class="col-md-3">
                    <a class="btn btn-lg btn-primary" href="{{ path('register') }}" title="S'inscrire">Devenez NAObservateur !</a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-classic">
        <div class="container">
            <div class="row">
                <div class="container call-to-action" id="participer">
                    <div class="row">
                        <h3 class="text-center mb-30">A votre tour d'observer</h3>

                        <div class="col-md-5 text-justify pt-30">
                            <h4>A présent c’est à votre tour de participer !</h4>

                            <h5 class="pt-30">Voici comment procéder : </h5>
                            <ol>
                                <li>Je vois un ou des oiseaux</li>
                                <li>Je décide de partager mon observation</li>
                                <li>J'effectue une saisie rapide</li>
                                <li>J'envoie</li>
                                <li>J'attends la validation de ma saisie d'observation par un naturaliste</li>
                            </ol>

                            <p>
                                Vous vous sentez plus aguerri(e), lancez-vous dans une
                                <a href="{{ path('saisieComplete') }}" title="Accéder à la saisie complète">saisie plus complète</a>
                            </p>
                        </div>

                        <div class="col-md-6 col-md-offset-1">
                            <div class="particulierhomeform">
                                <div class="titleline"></div>

                                <fieldset>
                                    {% include 'default/saisierapide.html.twig' %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-30"></div>

    <div class="wrapper-gray-nao shadow-inset pt-10 pb-10">
        <h3 class="text-center text-white">Épinglez les tous !</h3>
    </div>

    {% if countInfo.countGpsValide == 0 %}
        <div class="col-md-6 col-md-offset-3 text-center ">
            <a href="{{ path('saisie_observation') }}" class="btn btn-theme">
                Soyez le premier à saisir ou afficher une observation !
            </a>
        </div>
    {% else %}
        <div class="container">
            <div class="map" id="map"> </div>
        </div>
    {% endif %}

    <select name="latitude" id="latitude" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.latitude }}">{{ c.latitude }}</option>
        {% endfor %}
    </select>

    <select name="longitude" id="longitude" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.longitude }}">{{ c.longitude }}</option>
        {% endfor %}
    </select>

    <select name="idobs" id="idobs" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.species.id }}">{{ c.species.id }}</option>
        {% endfor %}
    </select>

    <select name="namespecies" id="namespecies" hidden>
        {% for c in obsCoo %}
            <option value="{{ c.species.nomVern }}">{{ c.species.nomVern }}</option>
        {% endfor %}
    </select>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function startWatch(){
            if (navigator.geolocation)
                var watchId = navigator.geolocation.watchPosition(successCallback,
                    errorCallback,
                    {enableHighAccuracy:true,
                        timeout:10000,
                        maximumAge:0});
            else
                alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");
        }

        function stopWatch(){
            navigator.geolocation.clearWatch(watchId);
        }

        function successCallback(position){

            $('#observationbundle_observation_latitude').val(position.coords.latitude);
            $('#observationbundle_observation_longitude').val(position.coords.longitude);

            document.getElementById("lat").innerHTML = position.coords.latitude;
            document.getElementById("long").innerHTML = position.coords.longitude;
        };
        function errorCallback(error){
            switch(error.code){
                case error.PERMISSION_DENIED:
                    alert("L'utilisateur n'a pas autorisé l'accès à sa position");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("L'emplacement de l'utilisateur n'a pas pu être déterminé");
                    break;
                case error.TIMEOUT:
                    alert("Le service n'a pas répondu à temps");
                    break;
            }
        };

        $("#loca").attr("onclick","startWatch()");
        $(document).ready(function() {
            var today = new Date();
            console.log(today);
            $('.datepicker').datepicker({
                language: 'fr',
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                endDate: today
            });
        });
    </script>
{% endblock %}