{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Liste des espèces</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-100 clearfix"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Liste des espèces</h3>
                <div class="titleline"></div>
            </div>
        </div>

        <div class="row">
            {% for test in listTaxref.img %}
                {#{{ test.image.alt }}#}
            {% endfor %}

            {% for liste in listTaxref.taxref %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team">

                        {% if liste.image != null %}
                        <figure class="effect-phoebe"> <img src="{{ asset( '/images/observations/' ) }}{{ liste.image }}" alt=""/>
                            {% else %}
                            <figure class="effect-phoebe"> <img src="{{ asset( '/images/observations/default.png' ) }}" alt=""/>
                                {% endif %}
                                <figcaption>
                                    {% if liste.image != null %}
                                        <p> <a href="{{ path('species_card', {'id': liste.id}) }}"><i class="fa fa-link effect-3"></i></a> <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ liste.image }}" title="{{ liste.lbnom }}"><i class="fa fa-search effect-3"></i></a> </p>
                                    {% else %}
                                        <p> <a href="{{ path('species_card', {'id': liste.id}) }}"><i class="fa fa-link effect-3"></i></a> <a class="nivo-lightbox" href="{{ asset( '/images/observations/default.png' ) }}" title="{{ liste.lbnom }}"><i class="fa fa-search effect-3"></i></a> </p>
                                    {% endif %}
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="team-content">
                                <h4 data-toggle="tooltip" data-placement="top" title="">{{ liste.nomVern }}<br>
                                    <small>{{ liste.lbNom }}</small></h4>
                                <p>{{ liste.lbAuteur }}</p>
                                <ul class="social-icons social-color">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>

                {% if loop.index is divisible by(4) %}

                    <div class="mb-20 clearfix"></div>

                {% endif %}

            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                {{ pagination(listTaxref.taxref) }}
            </div>
        </div>

    </div>

    <div class="mb-100"></div>
{% endblock %}