{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Validation des saisies d'observations</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-50"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Nom de l'observateur</th>
                        <th>Nom de l'espèce</th>
                        <th>Date de l'observation</th>
                        <th>Type saisie</th>
                        <th>Voir</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obs in observations %}
                        <tr>
                            <td>{{ obs.id }}</td>
                            <td>{{ obs.user.username }}</td>
                            <td><a href="{{ path('species_card', {'id': obs.species.id}) }}">{{ obs.species.lbnom }}</a></td>
                            <td>{{ obs.date|date("d/m/Y") }}</td>
                            {% if obs.typeSaisie == '0' %}
                                <td>Rapide</td>
                            {% else %}
                                <td>Complet</td>
                            {% endif %}
                            <td><a href="{{ path('validation', {'id': obs.id}) }}" type="button" class="btn btn-xs btn-primary">Voir<span><i class="fa fa-chevron-right"></i></span></a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mb-30"></div>

    <div class="row">
        <div class="col-md-12 text-center">
            {{ pagination(observations) }}
        </div>
    </div>

{% endblock %}