{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Connexion</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-t-b-60"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" id="username" name="_username" value="{{ _username }}" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                        <ul class="icon-arrow-list">
                            <li>
                                <div class="form-group"><input type="checkbox" name="_remember_me" title=""> Se souvenir de moi ?</div>
                            </li>
                            <li><a href="{{ path('set_new_password') }}" title="Faire une demande de mot de passe">Mot de passe oublié ?</a></li>
                            <li><button type="submit" class="btn btn btn-theme pull-right">Connexion</button></li>
                        </ul>
                    </fieldset>
                </form>

                <div class="modal-footer text-center">
                    <h4>Pas encore inscrit ?</h4>
                    <h5>Devenez NAObservateur</h5>
                    <p>Et prenez une part active à notre programme de recherche collaboratif !</p>
                    <a href="{{ path('register') }}" title="S'inscrire" class="btn btn btn-theme">Inscription</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}