{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Politique de confidentalité</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-graybg">
        <div class="container">
            <div class="row text-justify mb-10">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center m-t-b-60">Ce que nous faisons avec vos informations</h2>
                    <ol>
                        <li>
                            Le terme <strong>« Informations personnelles »</strong>
                            tel qu'utilisé ici est défini comme n'importe quelle information identifiant ou pouvant
                            être utilisée pour identifier, contacter ou localiser la personne à qui ses informations se
                            rapportent. Les informations personnelles que nous récupérons sont soumises à la présente
                            <em>Politique de Confidentialité</em>, selon les modifications qui y seront apportées
                            de temps à autre.
                        </li>
                        <li>
                            Lorsque vous vous inscrivez sur www.nao.little-owl.fr, nous demandons votre adresse e-mail.
                            Votre nom et prénom si vous souhaitez vous inscrire en tant que naturaliste.
                        </li>
                        <li>
                            Le site utilise les informations que nous récupérons dans les buts généraux suivants :
                            <em>
                                fournir les services, l'identification et l'authentification,
                                l'amélioration des services, les contacts
                            </em>
                        </li>
                    </ol>
                    <h3 class="text-center m-t-b-30">EN D'AUTRES TERMES</h3>
                    <p>
                        En vous inscrivant, vous fournissez des informations personnelles que nous récupérons
                        et utilisons. Utilisez uniquement vos informations client de www.nao.little-owl.fr pour
                        effectuer des communications associées à www.nao.little-owl.fr, à moins de recevoir
                        l'autorisation de le faire.
                    </p>

                    <h2 class="text-center m-t-b-60">Divulgation</h2>
                    <ol>
                       <li>
                           Le site peut utiliser des fournisseurs de service tiers pour vous fournir certains services
                           et nous pouvons partager des informations personnelles avec ces fournisseurs de service.
                           Nous exigeons que les sociétés avec lesquelles nous pouvons partager des informations
                           personnelles protègent ces données d'une manière cohérente avec la présente politique et
                           qu'elles limitent l'utilisation des Informations personnelles à l'exécution des services
                           pour www.nao.little-owl.fr.
                       </li>
                       <li>
                           Le site peut divulguer des Informations personnelles dans des circonstances particulières,
                           comme pour respecter décisions judiciaires et les lois en vigueur ou quand vos actions
                           violent les Conditions d'utilisation.
                       </li>
                       <li>
                           Nous ne vendons pas et ne fournissons pas des Informations personnelles à d'autres sociétés
                           pour la commercialisation de leurs propres produits et services.
                       </li>
                    </ol>
                    <h3 class="text-center m-t-b-30">EN D'AUTRES TERMES</h3>
                    <p>
                        Dans certaines circonstances, nous pouvons divulguer vos informations personnelles,
                        notamment en cas d'instruction judiciaire.
                    </p>

                    <h2 class="text-center m-t-b-60">Sécurité</h2>
                    <p>
                        Le site s’engage à prendre toutes les précautions utiles au regard des risques présentés par
                        le traitement des doonées, pour préserver la sécurité de ces données et notamment, d'empêcher
                        qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès. <br>
                        Le site s’engage en particulier à respecter l’ensemble des prescriptions techniques auxquelles
                        doivent se conformer les traitements.<br>
                        La garantie de la protection de vos données personnelles est notamment assurée par la société
                        <strong>1&1 Internet SARL</strong>, selon le contrat d’hébergement qui la lie avec  www.nao.little-owl.fr.
                        Toutefois, aucune méthode de transmission sur internet ou aucune méthode de stockage
                        électronique n'est sûre à 100%. Par conséquent, même si nous nous efforçons d'utiliser des
                        moyens commercialement acceptables afin de protéger vos informations personnelles,
                        nous ne pouvons pas garantir leur sécurité absolue. <br>
                        En cas de question concernant la sécurité sur notre site internet, vous pouvez nous envoyer
                        un e-mail à <strong>contact@nao.fr</strong>.
                    </p>
                    <h3 class="text-center m-t-b-30">EN D'AUTRES TERMES</h3>
                    <p>
                        Toutes les mesures de sécurité ont été mises en place pour protéger vos données, que ce soit
                        par nos équipes techniques, ou par la société d’hébergement de www.nao.little-owl.fr
                    </p>

                    <h2 class="text-center m-t-b-60">Stockage des données clients</h2>
                    <p>
                        Le site détient le droit de stockage des données, des bases de données et tous les droits
                        de l'application web www.nao.little-owl.fr, mais nous ne réclamons aucun droit sur vos données.
                        Vous gardez tous les droit sur vos données et nous ne contacterons jamais vos clients directement,
                        ni n'utiliserons vos données pour en faire bénéficier notre propre commerce ou pour vous
                        concurrencer vous ou cibler vos clients.
                    </p>
                    <h3 class="text-center m-t-b-30">EN D'AUTRES TERMES</h3>
                    <p>
                        Vous êtes propriétaire de vos données et nous respectons ça.
                        Nous n'essaierons pas de vous concurrencer ou d'écrire à vos clients.
                    </p>

                    <h2 class="text-center m-t-b-60">Les cookies</h2>
                    <p>
                        Un cookie est un petit ensemble de données qui peut contenir un identifiant unique anonyme.
                        Les cookies sont envoyés sur votre navigateur depuis un site internet et stockés sur le disque
                        dur de votre ordinateur. Chaque ordinateur qui accède à notre site internet reçoit de notre
                        part un cookie différent.
                    </p>

                    <h2 class="text-center m-t-b-60">Google Analytics</h2>
                    <p>
                        Nous utilisons un service fourni par Google appelé Google Analytics (GA). GA nous permet
                        d'analyser les habitudes de navigation de nos visiteurs et membres afin d'améliorer l'expérience
                        utilisateur et de toucher de nouveaux utilisateurs.
                        Les cookies peuvent donc être utilisés pour suivre votre session sur notre site internet
                    </p>
                    <h3 class="text-center m-t-b-30">EN D'AUTRES TERMES</h3>
                    <p>
                        Pour vous identifier électroniquement, un cookie sera stocké sur votre ordinateur.
                        Nous analysons vos visites sur notre site internet dans un but de performance et de ciblage.
                        Vous pouvez choisir à tout moment de désactiver le stockage des cookies depuis les réglages
                        de votre navigateur.
                    </p>

                    <h2 class="text-center m-t-b-60">Modifications de la présente Politique de Confidentialité</h2>
                    <p>
                        Nous nous réservons le droit de modifier la présente déclaration à tout moment, alors veuillez
                        la relire fréquemment. Si nous effectuons des changements matériels à la présente politique,
                        nous vous le ferons savoir ici ou à l'aide d'une annonce sur notre page d'accueil de façon
                        à ce que vous sachiez quelles informations nous récupérons, comment nous les utilisons et dans
                        quelles circonstances nous les divulguons (si ces circonstances se présentent).
                    </p>
                    <h3 class="text-center m-t-b-30">EN D'AUTRES TERMES</h3>
                    <p>
                        Nous pouvons modifier la présente déclaration de confidentialité. Si nous faisons une grosse
                        modification, nous vous le ferons savoir ici.
                    </p>

                    <h2 class="text-center m-t-b-60">Questions</h2>
                    <p>
                        Toute question concernant la présente Politique de confidentialité doit être adressée à
                        <strong>contact@nao.fr</strong> ou par courrier à :
                        <strong>6 rue des Becs, 75008 Paris</strong>
                    </p>

                    <hr>
                    <em>Dernière mise à jour le 20 mars 2017</em>
                </div>
            </div>
        </div>
    </div>

{% endblock %}