{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .error-password{
            display: none;
        }
        .error-username{
            display: none;
        }
        .error-repassword{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Inscription</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-t-b-60"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="mb-20">
                    {{ form_start(form_register, {'action': path('register')}) }}

                    <fieldset>
                        {{ form_errors(form_register.codeasso) }}

                        <div class="form-group">
                            {{ form_label(form_register.username, 'Nom d\'utilisateur') }}
                            {{ form_widget(form_register.username, { 'attr': {'class': 'form-control champ'} }) }}
                            <p class="error-username">Le nom d'utilisateur doit avoir entre 2 et 30 caractères</p>
                            {{ form_errors(form_register.username) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form_register.email, 'Adresse email') }}
                            {{ form_widget(form_register.email, { 'attr': {'class': 'form-control champ'} }) }}
                            {{ form_errors(form_register.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form_register.password.first) }}
                            {{ form_widget(form_register.password.first, { 'attr': {'class': 'form-control champ'} }) }}
                            <p class="error-password">Le mot de passe doit avoir entre 6 et 255 caractères</p>
                            {{ form_errors(form_register.password.first) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form_register.password.second) }}
                            {{ form_widget(form_register.password.second, { 'attr': {'class': 'form-control champ'} }) }}
                            <p class="error-repassword">Le mot de passe doit être identique</p>
                            {{ form_errors(form_register.password.second) }}
                        </div>

                        <div class="form-group">
                            {{ form_widget(form_register.typeUser, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form_register.typeUser) }}
                        </div>

                        <div id="type-user">
                            <div class="form-group">
                                {{ form_label(form_register.lastname, 'Nom') }}
                                {{ form_widget(form_register.lastname, { 'attr': {'class': 'form-control champ'} }) }}
                                {{ form_errors(form_register.lastname) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form_register.firstname, 'Prénom') }}
                                {{ form_widget(form_register.firstname, { 'attr': {'class': 'form-control champ'} }) }}
                                {{ form_errors(form_register.firstname) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form_register.codeasso, 'Code ASSO') }}
                                {{ form_widget(form_register.codeasso, { 'attr': {'class': 'form-control champ'} }) }}
                                {{ form_errors(form_register.codeasso) }}
                            </div>
                        </div>

                        <button type="submit" id="send" class="submit btn btn-theme">Valider</button>

                    </fieldset>
                    {{ form_end(form_register) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}