{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle shadow-inset">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Recherche</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-graybg">
        <div class="row text-center">
            <form class="input-group col-md-6 col-md-offset-3" action="{{ path('search') }}" method="get">
                <label>Effectuez une recherche parmi les 3872 espèces recensées sur le site : </label>
                <input type="text" class="form-control" name="recherche" placeholder="">
                <span class="input-group-btn align-bottom">
                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="mb-50"></div>
            <h2 class="text-center">Résultat - {{ search_count }} espèces listées ci-dessous</h2>

            <div class="mb-50"></div>
            {% if search_count == 0 %}
                <div class="mb-30"></div>
                Aucun résultat pour votre recherche !
            {% else %}
                {% for t in search %}
                    <h3>{{ t.nomValide }} - {{ t.nomVern }}</h3>
                    <p>
                        <a href="{{ path('species_card', {'id': t.id}) }}"><strong>Consulter la fiche de l'espèce</strong></a>
                    </p>
                    <hr>
                    <div class="mb-30"></div>
                {% endfor %}
            {% endif %}

            <div class="mb-50"></div>
        </div>
    </div>

{% endblock %}