{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Saisie d'observations</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-50"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Nous vous proposons <em>deux types d’observations</em>
                    en fonction du temps que vous pouvez consacrer à cette démarche et/ou
                    de votre niveau de connaissances en ornithologie :
                </p>
                <ul>
                    <li>
                        <strong>Saisie simplifié</strong> :
                        cette saisie est rapide et comporte les informations minimales et essentielles à renseigner
                        afin de recueillir des données exploitables
                    </li>
                    <li>
                        <strong>Saisie complète</strong> :
                        cette saisie demande plus de temps d’observation et nous permet de collecter des données
                        enrichies, notamment en terme d’environnement et de comportement des oiseaux
                    </li>
                </ul>
            </div>
        </div>

        <div class="mb-20"></div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <button  class="btn btn-tab btn-theme" disabled="disabled">Saisie rapide</button>
                <a href="{{ path('saisieComplete') }}" class="btn btn-theme">Saisie complète</a>
            </div>
        </div>

        <div class="mb-30"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2" id="observation">
                    <div class="form-saisie-rapide">
                        <div class="well-obs">
                            <h3 class="text-center">Formulaire de saisie rapide</h3>
                            {% include 'default/saisierapide.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-20"></div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        function startWatch(){
            if (navigator.geolocation)
                var watchId = navigator.geolocation.watchPosition(successCallback,
                        errorCallback,
                        {enableHighAccuracy:true,
                            timeout:10000,
                            maximumAge:0});
            else
                alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");
        }

        function stopWatch(){
            navigator.geolocation.clearWatch(watchId);
        }

        function successCallback(position){

            $('#observationbundle_observation_latitude').val(position.coords.latitude);
            $('#observationbundle_observation_longitude').val(position.coords.longitude);

            document.getElementById("lat").innerHTML = position.coords.latitude;
            document.getElementById("long").innerHTML = position.coords.longitude;
        };
        function errorCallback(error){
            switch(error.code){
                case error.PERMISSION_DENIED:
                    alert("L'utilisateur n'a pas autorisé l'accès à sa position");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("L'emplacement de l'utilisateur n'a pas pu être déterminé");
                    break;
                case error.TIMEOUT:
                    alert("Le service n'a pas répondu à temps");
                    break;
            }
        };

        $("#loca").attr("onclick","startWatch()");

        $(document).ready(function() {
            var today = new Date();
            console.log(today);
            $('.datepicker').datepicker({
                language: 'fr',
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                endDate: today
            });
        });
    </script>
{% endblock %}