
{{ form_start(formComplet) }}

<div class="form-group">
    {{ form_label(formComplet.species, 'Nom de l\'espèce *') }}
    {{ form_errors(formComplet.species) }}
    {{ form_widget(formComplet.species, { 'attr': {'class': 'form-control select'} })  }}
</div>
<div class="form-group">
    {{ form_label(formComplet.date, 'Date *') }}
    {{ form_errors(formComplet.date) }}
    {{ form_widget(formComplet.date, { 'attr': {'class': 'form-control datepicker'} })  }}
</div>
<div class="form-group">
    <label>Coordonnées *</label>
    {{ form_errors(formComplet.latitude) }}
    {{ form_errors(formComplet.longitude) }}
    {{ form_widget(formComplet.latitude, { 'attr': {'class': 'form-control'} })  }}
    {{ form_widget(formComplet.longitude, { 'attr': {'class': 'form-control'} })  }}
    <button type="button" name="button" id="loca" class="btn btn-primary">Me géolocaliser</button>
</div>
<div class="form-group">
    {{ form_label(formComplet.nombre, 'Nombre *') }}
    {{ form_errors(formComplet.nombre) }}
    {{ form_widget(formComplet.nombre, { 'attr': {'class': 'form-control'} })  }}
</div>
<div class="form-group">
    {{ form_label(formComplet.image, 'Votre image *') }}
    <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="L'image ne doit pas faire plus de 2Mo. Format : png, jpg"></i>
    {{ form_widget(formComplet.image)  }}
    {{ form_errors(formComplet.image) }}
</div>

<div class="form-group">
    {{ form_label(formComplet.saison) }}
    {{ form_errors(formComplet.saison) }}
    {{ form_widget(formComplet.saison, { 'attr': {'class': 'form-control'} })  }}
</div>

<div class="form-group">
    {{ form_label(formComplet.precipitation) }}
    {{ form_errors(formComplet.precipitation) }}
    {{ form_widget(formComplet.precipitation, { 'attr': {'class': 'form-control'} })  }}
</div>

<div class="form-group">
    {{ form_label(formComplet.meteo) }}
    {{ form_errors(formComplet.meteo) }}
    {{ form_widget(formComplet.meteo, { 'attr': {'class': 'form-control'} })  }}
</div>

<div class="form-group">
    {{ form_label(formComplet.periode) }}
    {{ form_errors(formComplet.periode) }}
    {{ form_widget(formComplet.periode, { 'attr': {'class': 'form-control'} })  }}
</div>

<div class="form-group">
    {{ form_label(formComplet.environnement) }}
    {{ form_errors(formComplet.environnement) }}
    {{ form_widget(formComplet.environnement, { 'attr': {'class': 'form-control'} })  }}
</div>

<div class="form-group">
    {{ form_label(formComplet.comportement) }}
    {{ form_errors(formComplet.comportement) }}
    {{ form_widget(formComplet.comportement, { 'attr': {'class': 'form-control'} })  }}
</div>

<div class="form-group">
    {{ form_label(formComplet.sensibilite) }}
    {{ form_errors(formComplet.sensibilite) }}
    {{ form_widget(formComplet.sensibilite, { 'attr': {'class': 'form-control'} })  }}
</div>

<input class="submit btn btn-theme pull-right" name="submit" type="submit" value="Envoyer">

{{ form_end(formComplet) }}