
{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.species, 'Nom de l\'espèce *') }}
    {{ form_errors(form.species) }}
    {{ form_widget(form.species, { 'attr': {'class': 'form-control select'} })  }}
</div>
<div class="form-group">
    {{ form_label(form.date, 'Date *') }}
    {{ form_errors(form.date) }}
    {{ form_widget(form.date, { 'attr': {'class': 'form-control datepicker'} })  }}
</div>
<div class="form-group">
    <label>Coordonnées *</label>
    {{ form_errors(form.latitude) }}
    {{ form_errors(form.longitude) }}
    {{ form_widget(form.latitude, { 'attr': {'class': 'form-control'} })  }}
    {{ form_widget(form.longitude, { 'attr': {'class': 'form-control'} })  }}
    <button type="button" name="button" id="loca" class="btn btn-primary">Me géolocaliser</button>
</div>
<div class="form-group">
    {{ form_label(form.nombre, 'Nombre *') }}
    {{ form_errors(form.nombre) }}
    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control', 'min': '0'} })  }}
</div>
<div class="form-group">
    {{ form_label(form.image, 'Votre image *') }}
    <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="L'image ne doit pas faire plus de 2Mo. Format : png, jpg"></i>
    {{ form_widget(form.image)  }}
    {{ form_errors(form.image) }}
</div>
{% if is_granted(['ROLE_NATURALISTE', 'ROLE_PARTICULIER']) %}
    <input class="submit btn btn-theme pull-right" name="submit" type="submit" value="Envoyer">
{% else %}
    <a href="{{ path('login') }}" class="btn btn-theme pull-right">Connectez vous !</a>
{% endif %}

{{ form_end(form) }}



