{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Mot de passe oublié</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-t-b-60"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
    </div>
{% endblock %}