{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Validation des saisies</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-50"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 block-validation center-block-validation">
                <div class="img-validation-saisie">
                    <figure class="effect-phoebe">
                        {% if obs.image != null %}
                            <img class="test" src="{{ asset( '/images/observations/' ) }}{{ obs.image.alt }}" alt="{{ obs.image.alt }}">
                        {% else %}
                            <img class="test" src="{{ asset( '/images/observations/default.png' ) }}" alt="default">
                        {% endif %}
                        <figcaption>
    {% if obs.image != null %}
                            <p> <a class="nivo-lightbox" href="{{ asset( '/images/observations/' ) }}{{ obs.image.alt }}" alt="{{ obs.image.alt }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
    {% else %}
        <p> <a class="nivo-lightbox" href="{{ asset( '/images/observations/default.png' ) }}" alt="default" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
    {% endif %}

        </figcaption>
                    </figure>
                </div>
                <div class="img-validation-saisie-content">
                    <h3>Saisie n°{{ obs.id }}</h3>
                    <p>Type de saisie :
                        {% if obs.typeSaisie == '0' %}
                    <td>Rapide</td>
                    {% else %}
                        <td>Complet</td>
                    {% endif %}
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-body panel-grey">
                    <p>Nom de l'espèce : {{ obs.species.lbnom }}</p>
                    <p>Date de l'observation : {{ obs.date|date("d/m/Y") }}</p>
                    <p>Coordonnées</p>

                    {% if obs.gpsAffiche == 1 %}
                        <p>Latitude : {{ obs.latitude }}</p>
                        <p>Longitude : {{ obs.longitude }}</p>
                    {% else %}
                        <p>Latitude : Affichage désactivé</p>
                        <p>Longitude : Affichage désactivé</p>
                    {% endif %}

                    <p>Nombre : {{ obs.nombre }}</p>
                    {% if obs.typeSaisie == '1' %}
                        <p>Saison : {{ obs.saison }}</p>
                        <p>Précipitations : {{ obs.precipitation }}</p>
                        <p>Météo : {{ obs.meteo }}</p>
                        <p>Période : {{ obs.periode }}</p>
                        <p>Environnement : {{ obs.environnement }}</p>
                        <p>Comportement : {{ obs.comportement }}</p>
                        <p>Sensibilité : {{ obs.sensibilite }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mb-20"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Validation de la fiche d'observations</h3>
                <div class="titleline"></div>
            </div>
        </div>
        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Afficher la localisation <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cache la position de l'observation sur les cartes"></i>
                {{ form_widget(form.gpsAffiche) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-6 col-md-offset-3">
                Je valide ?
            </div>
            <div class="col-md-3 col-xs-3">
                {{ form_widget(form.valide)  }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="">Laisser un commentaire :</label>

                    {{ form_widget(form.commentaire, { 'attr': {'class': 'form-control'} })  }}

                    <input class="submit btn btn-theme pull-left" name="submit" type="submit" value="Envoyer">
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

    <div class="mb-50"></div>

{% endblock %}